html {
    box-sizing: border-box;
  }
   
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
  }
  
  h1, h3, h4, h5, h6, .heading{font-family:Georgia, "Times New Roman", Times, serif;}
  
  h2, .heading {
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size: 32px; 
    line-height: 38px; 
    margin: 0 0 28px;
    color: #34d16e;
  }
  
  
  .font { 
    color: #333333; 
    font-family: Georgia, serif; 
    font-size: 18px; 
    line-height: 28px; 
    margin: 0 0 28px; 
  }
  
  
  .content{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    padding: 15px 25px;
    margin: 10px 0;
    font-family: Georgia, serif;
  }
  
  
  .centered_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  /**
   * Each page's titles and headers
   */
  .title{
    text-align: center;
    margin-bottom: 50px;
    color: #34d16e;
  }
  
  .h1 {
    color: #34d16e;
  }
  
  .header {
    padding: 70px;
    text-align: center;
    color: white;
    font-size: 30px;
    background-image:url('../media/iujo.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
  }
  
  /**
   * Navigation nabvar
   */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
    
  .topnav .icon {
    display: none;
  }
  
  .topnav a:hover, 
  .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(189, 189, 189);
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: grid ;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: nones;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  
  /**
   * footer 
   */
  .footer {
    padding: 30px;
    text-align: center;
    background: #282c2f;
    margin-top: 20px;
    color: white;
  }
  
  .footer .contacto ul,
  .footer .aboutus p{
    text-align: left;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 30px;
  }
  
  
  .grid-container-card {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 15px;
  }
  
  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  } 
  
  #content {
    transition: margin-left .5s;
  }
  
  
  
  
  /**
   * Commentaries 
   */
  
  #commentaries{
    padding-top: 50px;
  }
  
  .comentary {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: #f1f1f1;
    margin-left: 20px;
    padding-left: 50px;
  }
  
  .comment_body{
    word-wrap: break-word;
    font-size: 15px;
  }
  
  input[type=text], 
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .submit {
    background-color: #9234d1;
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }
  
  
  
  /**
   * Responsive Navigation Navbar
   */
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), 
    .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  
  
  /**
   * Responsive Containers
   */
  
  @media (min-width: 576px) {
    .container {
      width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container {
      width: 720px;
    }
    .grid-container {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  
    .grid-container-card {
      grid-template-columns: repeat(2, minmax(0, 1fr)) ;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 960px;
    }
    .grid-container-card {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1140px;
    }
    .grid-container-card {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
  